.splash {
  background-image: url(../../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  

  &::after{
    background: linear-gradient( rgba(19, 19, 19, 0), rgba(19, 19, 19, .5) 70%, rgba(19, 19, 19, 1) );
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .splash-inner {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .page-title {
      margin-top: 20px;
      margin-right: -0.7em;
      margin-bottom: 20px;
    }
    
    .page-subtitle {
      display: block;
      letter-spacing: .3em;
      line-height: 1.8;

      span{
        letter-spacing: 0;
      }
    }
  }
}

/*Navigation*/
.main-nav{
  text-align: center;
  font-size: 22px;
  font-weight: $font-semibold;
  margin-bottom: 15%;

  a {
    color: $color_two;
    transition: .3s;
  
    &:hover{
      text-decoration: none;
      color: $color_three;
      cursor: pointer;
    }
  }
}

/*Footer*/
footer{
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p{
    margin: 0%;
    font-weight: $font-semibold;
    letter-spacing: .2em;
    margin-right: -.2em;
  }
}