/*Navigation*/
.main-nav{
  text-align: center;
  font-size: 1.57rem;
  font-weight: $font-semibold;
  margin-bottom: 15%;
  
  a {
    color: $color_three;

    &:nth-child(1){
      color: $color_two;
    }

    &:hover{
      text-decoration: none;
      cursor: pointer;
    }
  }
}