*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $color_four;
  font-family: $font;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color_two;
}

.wrapper{
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 540px;
  }
}

#pages {
  >* {
    display: none;
  }

  >.active {
    display: block;
  }
}

#audio {
  padding: 5%;

  p{
    text-align: center;
  }
}
