*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background: $color_four;
  font-family: $font;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color_two;
  
}

.wrapper{
  margin: 0 auto;
}

#pages {
  >* {
    display: none;
  }

  >.active {
    display: block;
  }
}

#audio {
  padding: 2% 3%;
 
  p{
    text-align: center;
  }
}