/*Headers*/

.page-title {
  letter-spacing: .7em;
  font-size: 132px;
  font-weight: $font-black;
}

.page-subtitle {
  font-size: 26px;
  font-weight: $font-black;
}

h3 {
  font-size: 20px;
  font-weight: $font-semibold;
  letter-spacing: .1em;
  margin-bottom: 8%;
  text-indent: 4%;
}

p {
  font-size: 14px;
  color: $color_three;
  margin-top: 4%;
}