.page-title {
  letter-spacing: .7em;
  font-size: 9.5rem;
  font-weight: $font-black;
}

.page-subtitle {
  font-size: 1.86rem;
  font-weight: $font-black;
}

h3 {
  font-size: 1.5rem;
  font-weight: $font-semibold;
  letter-spacing: .1em;
  margin-bottom: 8%;
  text-indent: 4%;
}

p {
  color: $color_three;
  margin-top: 4%;
}

h6 {
  font-size: 3.1rem;
  letter-spacing: .2em;
  color: $color_three;
  margin-bottom: 5%;
  text-indent: -.2em;
  font-weight: $font-semibold;
}