/*Variables*/
$font:  'Source Sans Pro', sans-serif;
$color_one: #CF383E;
$color_two: #FFF;
$color_three: #BFBFBF;
$color_four: #131313;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;